body {
  background-color: #06d6a0;
}
.estiloLista {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
}

.billetera {
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd166;
  margin: 1 rem;
  padding: 1rem;
  object-fit: cover;
}

#divCentral {
  background-color: #ef476f;
  display: flex;
  justify-content: center;
  width: 450px;
  margin-top: 2rem;
  padding-top: 1rem;
}

.tips {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 450px;
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: #ffd166;
  padding-bottom: 1rem;
  border-radius: 15px;
}

.tip {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
  border-radius: 15px;
  padding-top: 1rem;
  font-weight: 700;
}

.alinear {
  display: flex;
  align-self: center;
}

#sf {
  text-align: center;
  background-color: antiquewhite;
  font-weight: bolder;
}

.forms {
  display: flex;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#divGastos {
  margin-left: 1rem;
}

/*Responsive forms*/

@media (max-width: 799px) {
  .forms {
    display: flex;
    flex-direction: column;
  }

  #divGastos {
    margin-top: 1rem;
    margin-left: 0%;
  }

  .style {
    display: flex;
    justify-items: center;
  }

  .tips {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.style {
  background-color: #118ab2;
  border: none 1px solid;
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.style div {
  padding-top: 5px;
  padding-bottom: 5px;
}

#content {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listas {
  display: flex;
  flex-direction: row;
}

.bote {
  height: 1rem;
  width: 1rem;
  margin-top: 5px;
}

.botonEliminar {
  border: none;
  background-color: white;
  display: flex;
  align-content: end;
  margin-left: 1rem;
}

.listado {
  margin-bottom: 1rem;
}

/*Modal*/

.botonM {
  background-color: #ef476f;
  color: black;
  font-weight: bold;
}

.modal-body {
  text-align: center;
  font-weight: bold;
  background-color: aliceblue;
}

.modalB {
  background-color: #ffd166;
}
